################################################################################
# Doxter: PureBasic Documentation Generator                                    #
# https://github.com/tajmone/doxter                                            #
################################################################################

## TMP Work Files
#################
___*.*

# Log files
*.log

# Links and URLs
*.lnk
*.url

# HTML previews
README.html
CHANGELOG.html

## TMP Docs Files
#################
docs_src/*.html
docs_src/*.asciidoc
!docs_src/index.asciidoc

## PureBasic
############

# Settings files
*.pb.cfg
*.pbi.cfg
project.cfg

# Project Files
*.pbp

# Shared libraries
*.so
*.dylib
*.dll

# Binary executables
*.exe
*.app
*.out

## Alan IF
##########
*.a3c
*.ifid

#########################
## USER-SPECIFIC FILES ##
#########################
# Reserved for patterns that might be useful to end users of the project.


##########################
## MISC IGNORE PATTERNS ##
##########################
# Based on ".gitignore" created by:
# https://www.gitignore.io/api/windows,linux,macos,purebasic

## Linux
########

*~

# temporary files which can be created if a process still has a handle open of a deleted 
file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

## macOS
########
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Windows
##########

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows,linux,macos,purebasic

# EOF #
